/* Variables */
:root {
   --font-weight-400: 400;
   --font-weight-500: 500;
   --font-weight-600: 600;
   --font-size-18: 18px;
   --main-white-color: #ffffff;
   --main-green-color: #299764;
   --main-dark-green-color: #077743;
   --main-gray-color: #272727;
   --main-black-color: #000000;
   --main-body-color: #1c1c1c;
   --main-light-gray-color: #555555;
}