.site-footer{
  border: 1.5px solid #333333;
  padding-top: 40px;

  &__wrapper{
    display: flex;
    gap: 65px;
  }

  &__left{

    &-top{
      margin-bottom: 84px;
      max-width: 240px;

      &-img{
        margin-bottom: 20px;
      }

      &-text{
        font-weight: var(--font-weight-400);
        font-size: 12px;
        line-height: 20px;
        color: var(--main-white-color);
      }
    }

    &-bottom-text{
      max-width: 158px;
      font-weight: var(--font-weight-500);
      font-size: 16px;
      line-height: 24px;
      color: var(--main-white-color);
    }
  }

  &__right{
    max-width: 895px;
    width: 100%;
    margin-top: 24px;

    &-top-list{
      display: flex;
      max-width: 814px;
    }

    &-top-item{

      &:nth-child(1){
        // max-width: 93px;
        margin-right: 110px;
      }

      &:nth-child(2){
        // max-width: 88px;
        margin-right: 116px;
      }

      &:nth-child(3){
        // max-width: 79px;
        margin-right: 104px; // px`ni sozlash kerak
      }
    }

    &-item-sublist{
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &-item-subitem{
      color: var(--main-white-color);

      &:nth-child(1){
        font-weight: var(--font-weight-500);
        font-size: 16px;
        line-height: 20px;
        color: var(--main-white-color);
        margin-bottom: 4px;
      }

      &:not(:first-child) a{
        font-weight: var(--font-weight-500);
        font-size: 14px;
        line-height: 17px;
        color: var(--main-white-color);

        &:hover{
          text-decoration: underline;
        }
      }

    }

    &-span{
      display: inline-block;
      width: 100%;
      height: 1.5px;
      background-color: #333333;
      margin: 40px 0;
    }

    &-inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
    }

    &-bottom-list{
      display: flex;
      max-width: 612px;
      width: 100%;
    }

    &-bottom-item{

      &:nth-child(1) {
        // border: 1px solid red;
        margin-right: 49px;


      }

      &:nth-child(2){
        margin-right: 52px;
      }
    }
    &-bottom-item &-bottom-sublist{
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    &-bottom-item &-bottom-sublist &-bottom-subitem{

      &:nth-child(1){
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: var(--main-white-color);
        margin-bottom: 4px;
      }

      &:not(:first-child), &:not(:first-child) a{
        font-weight: var(--font-weight-500);
        font-size: 14px;
        line-height: 17px;
        color: var(--main-white-color);
      }
      &:not(:first-child) a:hover{
        text-decoration: underline;
      }
    }

    &-bottom-text{
      font-weight: var(--font-weight-500);
      font-size: 16px;
      line-height: 20px;
      color: var(--main-white-color);
      margin-bottom: 22px;
    }

    &-network-list{
      display: flex;
      gap: 15px;
    }

    &-network-item{
      width: 40px;
      height: 40px;
      background-color: var(--main-white-color);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;


      &:nth-child(1):hover{
        // border: 1px solid red;
        background: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
      }

      &:nth-child(2):hover{
        background-color: #55ACE3;
      }

      &:nth-child(3):hover{
        background-color: #0B84EE;
      }

      &:nth-child(4):hover{

        background-color: #48C95F;
      }
    }

    .site-footer__right-network-link {
      width: 100%;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--main-black-color);
    }
    .site-footer__right-network-link:hover {
      color: var(--main-white-color);
    }

    &-box{
      position: fixed;
      bottom: 50px;
      right: calc(50% - 600px);
      width: 70px;
      height: 70px;
      background-color: var(--main-green-color);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--main-white-color);

      &:hover{
        background-color: #077743;
      }

      &:active{
        background-color: #F5F5F5;
        color: var(--main-black-color);
      }
    }
  }
}

@include desctop-first (1200px) {
  .site-footer{
    // border: 1.5px solid #333333;
    // padding-top: 40px;

    // &__wrapper{
    //   display: flex;
    //   gap: 65px;
    // }

    // &__left{

      // &-top{
        // margin-bottom: 84px;
        // max-width: 240px;

        // &-img{
          // margin-bottom: 20px;
        // }

        // &-text{
        //   font-weight: var(--font-weight-400);
        //   font-size: 12px;
        //   line-height: 20px;
        //   color: var(--main-white-color);
        // }
      // }

      // &-bottom-text{
        // max-width: 158px;
      //   font-weight: var(--font-weight-500);
      //   font-size: 16px;
      //   line-height: 24px;
      //   color: var(--main-white-color);
      // }
    // }

    &__right{
      // max-width: 895px;
      // width: 100%;
      // margin-top: 24px;

      // &-top-list{
      //   display: flex;
      //   max-width: 814px;
      // }

      &-top-item{

        &:nth-child(1){
          // max-width: 93px;
          margin-right: 90px;
        }

        &:nth-child(2){
          // max-width: 88px;
          margin-right: 96px;
        }

        &:nth-child(3){
          // max-width: 79px;
          margin-right: 84px; // px`ni sozlash kerak
        }
      }

      // &-item-sublist{
      //   display: flex;
      //   flex-direction: column;
      //   gap: 12px;
      // }

      // &-item-subitem{
        // color: var(--main-white-color);

        // &:nth-child(1){
        //   font-weight: var(--font-weight-500);
        //   font-size: 16px;
        //   line-height: 20px;
        //   color: var(--main-white-color);
        //   margin-bottom: 4px;
        // }

        // &:not(:first-child) a{
        //   font-weight: var(--font-weight-500);
        //   font-size: 14px;
        //   line-height: 17px;
        //   color: var(--main-white-color);

        //   &:hover{
        //     text-decoration: underline;
        //   }
        // }

      // }

      // &-span{
      //   display: inline-block;
      //   width: 100%;
      //   height: 1.5px;
      //   background-color: #333333;
      //   margin: 40px 0;
      // }

      // &-inner{
      //   display: flex;
      //   justify-content: space-between;
      //   align-items: center;
      //   margin-bottom: 40px;
      // }

      // &-bottom-list{
      //   display: flex;
      //   max-width: 612px;
      //   width: 100%;
      // }

      &-bottom-item{

        &:nth-child(1) {
          // border: 1px solid red;
          margin-right: 39px;
        }

        &:nth-child(2){
          margin-right: 42px;
        }
      }
      // &-bottom-item &-bottom-sublist{
      //   display: flex;
      //   flex-direction: column;
      //   gap: 12px;
      // }
      &-bottom-item &-bottom-sublist &-bottom-subitem{

        &:nth-child(1){
          // font-weight: 500;
          font-size: 15px;
          // line-height: 20px;
          // color: var(--main-white-color);
          // margin-bottom: 4px;
        }

        // &:not(:first-child), &:not(:first-child) a{
        //   font-weight: var(--font-weight-500);
        //   font-size: 14px;
        //   line-height: 17px;
        //   color: var(--main-white-color);
        // }
        // &:not(:first-child) a:hover{
        //   text-decoration: underline;
        // }
      }

      // &-bottom-text{
      //   font-weight: var(--font-weight-500);
      //   font-size: 16px;
      //   line-height: 20px;
      //   color: var(--main-white-color);
      //   margin-bottom: 22px;
      // }

      // &-network-list{
      //   display: flex;
      //   gap: 15px;
      // }

      // &-network-item{
        // width: 40px;
        // height: 40px;
        // background-color: var(--main-white-color);
        // border-radius: 50%;
        // display: flex;
        // align-items: center;
        // justify-content: center;


        // &:nth-child(1):hover{
        //   // border: 1px solid red;
        //   background: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
        // }

        // &:nth-child(2):hover{
        //   background-color: #55ACE3;
        // }

        // &:nth-child(3):hover{
        //   background-color: #0B84EE;
        // }

        // &:nth-child(4):hover{

        //   background-color: #48C95F;
        // }
      // }

      // .site-footer__right-network-link {
      //   width: 100%;
      //   height: 40px;
      //   border-radius: 50%;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   color: var(--main-black-color);
      // }

      // .site-footer__right-network-link:hover {
      //   color: var(--main-white-color);
      // }

      &-box{
        // position: fixed;
        // bottom: 50px;
        right: calc(50% - 450px);
        // width: 70px;
        // height: 70px;
        // background-color: var(--main-green-color);
        // border-radius: 50%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // color: var(--main-white-color);

        // &:hover{
        //   background-color: #077743;
        // }

        // &:active{
        //   background-color: #F5F5F5;
        //   color: var(--main-black-color);
        // }
      }

    }

  }
}


@include desctop-first (1000px) {
  .site-footer{
    // border: 1.5px solid #333333;
    // padding-top: 40px;

    // &__wrapper{
    //   display: flex;
    //   gap: 65px;
    // }

    // &__left{

      // &-top{
        // margin-bottom: 84px;
        // max-width: 240px;

        // &-img{
          // margin-bottom: 20px;
        // }

        // &-text{
        //   font-weight: var(--font-weight-400);
        //   font-size: 12px;
        //   line-height: 20px;
        //   color: var(--main-white-color);
        // }
      // }

      // &-bottom-text{
        // max-width: 158px;
      //   font-weight: var(--font-weight-500);
      //   font-size: 16px;
      //   line-height: 24px;
      //   color: var(--main-white-color);
      // }
    // }

    &__right{
      // max-width: 895px;
      // width: 100%;
      // margin-top: 24px;

      // &-top-list{
      //   display: flex;
      //   max-width: 814px;
      // }

      &-top-item{

        &:nth-child(1){
          // max-width: 93px;
          margin-right: 60px;
        }

        &:nth-child(2){
          // max-width: 88px;
          margin-right: 66px;
        }

        &:nth-child(3){
          // max-width: 79px;
          margin-right: 54px; // px`ni sozlash kerak
        }
      }

      // &-item-sublist{
      //   display: flex;
      //   flex-direction: column;
      //   gap: 12px;
      // }

      // &-item-subitem{
        // color: var(--main-white-color);

        // &:nth-child(1){
        //   font-weight: var(--font-weight-500);
        //   font-size: 16px;
        //   line-height: 20px;
        //   color: var(--main-white-color);
        //   margin-bottom: 4px;
        // }

        // &:not(:first-child) a{
        //   font-weight: var(--font-weight-500);
        //   font-size: 14px;
        //   line-height: 17px;
        //   color: var(--main-white-color);

        //   &:hover{
        //     text-decoration: underline;
        //   }
        // }

      // }

      // &-span{
      //   display: inline-block;
      //   width: 100%;
      //   height: 1.5px;
      //   background-color: #333333;
      //   margin: 40px 0;
      // }

      // &-inner{
      //   display: flex;
      //   justify-content: space-between;
      //   align-items: center;
      //   margin-bottom: 40px;
      // }

      // &-bottom-list{
      //   display: flex;
      //   max-width: 612px;
      //   width: 100%;
      // }

      &-bottom-item{

        &:nth-child(1) {
          // border: 1px solid red;
          margin-right: 39px;
        }

        &:nth-child(2){
          margin-right: 42px;
        }
      }
      // &-bottom-item &-bottom-sublist{
      //   display: flex;
      //   flex-direction: column;
      //   gap: 12px;
      // }
      &-bottom-item &-bottom-sublist &-bottom-subitem{

        &:nth-child(1){
          // font-weight: 500;
          font-size: 15px;
          // line-height: 20px;
          // color: var(--main-white-color);
          // margin-bottom: 4px;
        }

        // &:not(:first-child), &:not(:first-child) a{
        //   font-weight: var(--font-weight-500);
        //   font-size: 14px;
        //   line-height: 17px;
        //   color: var(--main-white-color);
        // }
        // &:not(:first-child) a:hover{
        //   text-decoration: underline;
        // }
      }

      // &-bottom-text{
      //   font-weight: var(--font-weight-500);
      //   font-size: 16px;
      //   line-height: 20px;
      //   color: var(--main-white-color);
      //   margin-bottom: 22px;
      // }

      // &-network-list{
      //   display: flex;
      //   gap: 15px;
      // }

      &-network-item{
        width: 35px;
        height: 35px;
        // background-color: var(--main-white-color);
        // border-radius: 50%;
        // display: flex;
        // align-items: center;
        // justify-content: center;


        // &:nth-child(1):hover{
        //   // border: 1px solid red;
        //   background: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
        // }

        // &:nth-child(2):hover{
        //   background-color: #55ACE3;
        // }

        // &:nth-child(3):hover{
        //   background-color: #0B84EE;
        // }

        // &:nth-child(4):hover{

        //   background-color: #48C95F;
        // }
      }

      // .site-footer__right-network-link {
      //   width: 100%;
      //   height: 40px;
      //   border-radius: 50%;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   color: var(--main-black-color);
      // }

      // .site-footer__right-network-link:hover {
      //   color: var(--main-white-color);
      // }

      &-box{
        // position: fixed;
        // bottom: 50px;
        right: calc(50% - 420px);
        width: 50px;
        height: 50px;
        // background-color: var(--main-green-color);
        // border-radius: 50%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // color: var(--main-white-color);

        // &:hover{
        //   background-color: #077743;
        // }

        // &:active{
        //   background-color: #F5F5F5;
        //   color: var(--main-black-color);
        // }
      }

    }

  }
}


@include desctop-first (834px) {
  .site-footer{
    // border: 1.5px solid #333333;
    // padding-top: 40px;

    &__wrapper{
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &__left{
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-top{
        // width: 100%;
        margin-bottom: 30px;
        // max-width: 240px;

        // &-img{
        //   margin-bottom: 20px;
        // }

        // &-text{
        //   font-weight: var(--font-weight-400);
        //   font-size: 12px;
        //   line-height: 20px;
        //   color: var(--main-white-color);
        // }
      }

      // &-bottom-text{
        // max-width: 158px;
      //   font-weight: var(--font-weight-500);
      //   font-size: 16px;
      //   line-height: 24px;
      //   color: var(--main-white-color);
      // }
    }

    &__right{
      max-width: 794px;
      // width: 100%;
      margin-top: 0px;


      // &-top-list{
      //   display: flex;
      //   max-width: 814px;
      // }

      // &-top-item{

        // &:nth-child(1){
          // max-width: 93px;
          // margin-right: 60px;
        // }

        // &:nth-child(2){
          // max-width: 88px;
          // margin-right: 66px;
        // }

        // &:nth-child(3){
          // max-width: 79px;
          // margin-right: 54px; // px`ni sozlash kerak
        // }
      // }

      // &-item-sublist{
      //   display: flex;
      //   flex-direction: column;
      //   gap: 12px;
      // }

      // &-item-subitem{
        // color: var(--main-white-color);

        // &:nth-child(1){
        //   font-weight: var(--font-weight-500);
        //   font-size: 16px;
        //   line-height: 20px;
        //   color: var(--main-white-color);
        //   margin-bottom: 4px;
        // }

        // &:not(:first-child) a{
        //   font-weight: var(--font-weight-500);
        //   font-size: 14px;
        //   line-height: 17px;
        //   color: var(--main-white-color);

        //   &:hover{
        //     text-decoration: underline;
        //   }
        // }

      // }

      // &-span{
      //   display: inline-block;
      //   width: 100%;
      //   height: 1.5px;
      //   background-color: #333333;
      //   margin: 40px 0;
      // }

      // &-inner{
      //   display: flex;
      //   justify-content: space-between;
      //   align-items: center;
      //   margin-bottom: 40px;
      // }

      // &-bottom-list{
      //   display: flex;
      //   max-width: 612px;
      //   width: 100%;
      // }

      // &-bottom-item{

        // &:nth-child(1) {
          // border: 1px solid red;
          // margin-right: 39px;
        // }

      //   &:nth-child(2){
      //     margin-right: 42px;
      //   }
      // }
      // &-bottom-item &-bottom-sublist{
      //   display: flex;
      //   flex-direction: column;
      //   gap: 12px;
      // }
      // &-bottom-item &-bottom-sublist &-bottom-subitem{

        // &:nth-child(1){
          // font-weight: 500;
          // font-size: 15px;
          // line-height: 20px;
          // color: var(--main-white-color);
          // margin-bottom: 4px;
        // }

        // &:not(:first-child), &:not(:first-child) a{
        //   font-weight: var(--font-weight-500);
        //   font-size: 14px;
        //   line-height: 17px;
        //   color: var(--main-white-color);
        // }
        // &:not(:first-child) a:hover{
        //   text-decoration: underline;
        // }
      // }

      // &-bottom-text{
      //   font-weight: var(--font-weight-500);
      //   font-size: 16px;
      //   line-height: 20px;
      //   color: var(--main-white-color);
      //   margin-bottom: 22px;
      // }

      // &-network-list{
      //   display: flex;
      //   gap: 15px;
      // }

      &-network-item{
        width: 40px;
        height: 40px;
        // background-color: var(--main-white-color);
        // border-radius: 50%;
        // display: flex;
        // align-items: center;
        // justify-content: center;


        // &:nth-child(1):hover{
        //   // border: 1px solid red;
        //   background: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
        // }

        // &:nth-child(2):hover{
        //   background-color: #55ACE3;
        // }

        // &:nth-child(3):hover{
        //   background-color: #0B84EE;
        // }

        // &:nth-child(4):hover{

        //   background-color: #48C95F;
        // }
      }

      // .site-footer__right-network-link {
      //   width: 100%;
      //   height: 40px;
      //   border-radius: 50%;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   color: var(--main-black-color);
      // }

      // .site-footer__right-network-link:hover {
      //   color: var(--main-white-color);
      // }

      &-box{
        // position: fixed;
        // bottom: 50px;
        right: calc(50% - 280px);
        width: 70px;
        height: 70px;
        // background-color: var(--main-green-color);
        // border-radius: 50%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // color: var(--main-white-color);

        // &:hover{
        //   background-color: #077743;
        // }

        // &:active{
        //   background-color: #F5F5F5;
        //   color: var(--main-black-color);
        // }
      }
    }
  }
}


@include desctop-first (390px) {
  .site-footer{
    // border: 1.5px solid #333333;
    // padding-top: 40px;

    &__wrapper{
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &__left{
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-top{
        // width: 100%;
        margin-bottom: 30px;
        // max-width: 240px;

        // &-img{
        //   margin-bottom: 20px;
        // }

        // &-text{
        //   font-weight: var(--font-weight-400);
        //   font-size: 12px;
        //   line-height: 20px;
        //   color: var(--main-white-color);
        // }
      }

      // &-bottom-text{
        // max-width: 158px;
      //   font-weight: var(--font-weight-500);
      //   font-size: 16px;
      //   line-height: 24px;
      //   color: var(--main-white-color);
      // }
    }

    &__right{
      max-width: 794px;
      // width: 100%;
      margin-top: 0px;


      // &-top-list{
      //   display: flex;
      //   max-width: 814px;
      // }

      // &-top-item{

        // &:nth-child(1){
          // max-width: 93px;
          // margin-right: 60px;
        // }

        // &:nth-child(2){
          // max-width: 88px;
          // margin-right: 66px;
        // }

        // &:nth-child(3){
          // max-width: 79px;
          // margin-right: 54px; // px`ni sozlash kerak
        // }
      // }

      // &-item-sublist{
      //   display: flex;
      //   flex-direction: column;
      //   gap: 12px;
      // }

      // &-item-subitem{
        // color: var(--main-white-color);

        // &:nth-child(1){
        //   font-weight: var(--font-weight-500);
        //   font-size: 16px;
        //   line-height: 20px;
        //   color: var(--main-white-color);
        //   margin-bottom: 4px;
        // }

        // &:not(:first-child) a{
        //   font-weight: var(--font-weight-500);
        //   font-size: 14px;
        //   line-height: 17px;
        //   color: var(--main-white-color);

        //   &:hover{
        //     text-decoration: underline;
        //   }
        // }

      // }

      // &-span{
      //   display: inline-block;
      //   width: 100%;
      //   height: 1.5px;
      //   background-color: #333333;
      //   margin: 40px 0;
      // }

      // &-inner{
      //   display: flex;
      //   justify-content: space-between;
      //   align-items: center;
      //   margin-bottom: 40px;
      // }

      // &-bottom-list{
      //   display: flex;
      //   max-width: 612px;
      //   width: 100%;
      // }

      // &-bottom-item{

        // &:nth-child(1) {
          // border: 1px solid red;
          // margin-right: 39px;
        // }

      //   &:nth-child(2){
      //     margin-right: 42px;
      //   }
      // }
      // &-bottom-item &-bottom-sublist{
      //   display: flex;
      //   flex-direction: column;
      //   gap: 12px;
      // }
      // &-bottom-item &-bottom-sublist &-bottom-subitem{

        // &:nth-child(1){
          // font-weight: 500;
          // font-size: 15px;
          // line-height: 20px;
          // color: var(--main-white-color);
          // margin-bottom: 4px;
        // }

        // &:not(:first-child), &:not(:first-child) a{
        //   font-weight: var(--font-weight-500);
        //   font-size: 14px;
        //   line-height: 17px;
        //   color: var(--main-white-color);
        // }
        // &:not(:first-child) a:hover{
        //   text-decoration: underline;
        // }
      // }

      // &-bottom-text{
      //   font-weight: var(--font-weight-500);
      //   font-size: 16px;
      //   line-height: 20px;
      //   color: var(--main-white-color);
      //   margin-bottom: 22px;
      // }

      // &-network-list{
      //   display: flex;
      //   gap: 15px;
      // }

      &-network-item{
        width: 40px;
        height: 40px;
        // background-color: var(--main-white-color);
        // border-radius: 50%;
        // display: flex;
        // align-items: center;
        // justify-content: center;


        // &:nth-child(1):hover{
        //   // border: 1px solid red;
        //   background: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
        // }

        // &:nth-child(2):hover{
        //   background-color: #55ACE3;
        // }

        // &:nth-child(3):hover{
        //   background-color: #0B84EE;
        // }

        // &:nth-child(4):hover{

        //   background-color: #48C95F;
        // }
      }

      // .site-footer__right-network-link {
      //   width: 100%;
      //   height: 40px;
      //   border-radius: 50%;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   color: var(--main-black-color);
      // }

      // .site-footer__right-network-link:hover {
      //   color: var(--main-white-color);
      // }

      &-box{
        // position: fixed;
        // bottom: 50px;
        right: calc(50% - 280px);
        width: 70px;
        height: 70px;
        // background-color: var(--main-green-color);
        // border-radius: 50%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // color: var(--main-white-color);

        // &:hover{
        //   background-color: #077743;
        // }

        // &:active{
        //   background-color: #F5F5F5;
        //   color: var(--main-black-color);
        // }
      }
    }
  }
}
