.hero{
  margin-bottom: 160px;

  &-wrapper{
    border: 1.5px solid #333333;
    border-radius: 20px;
    padding: 30px 0px 0 32px;
    background-image: url("./../../images/safe-section-bg.png");
    background-repeat: no-repeat;
    background-position: right 70px bottom;
    background-size: 386px;


    &__card{
      max-width: 620px;
      padding-top: 10px;
      padding-bottom: 32px;
      // border: 1px solid red;

      &-top{
        max-width: 590px;
        margin-bottom: 94px;

        &-title{
          font-weight: var(--font-weight-600);
          font-size: 36px;
          line-height: 44px;
          color: var(--main-white-color);
          margin-bottom: 10px;
        }

        &-text{
          font-weight: var(--font-weight-400);
          font-size: 16px;
          line-height: 24px;
          color: var(--main-white-color);
        }
      }

    }
    &__list{
      display: flex;
      gap: 8px;

      &-item{
        position: relative;
        max-width: 200px;
        width: 100%;
        padding: 79px 15px 15px 15px;
        background-color: var(--main-gray-color);
        border-radius: 16px;
        display: flex;

        &::after{
          position: absolute;
          top: 20px;
          right: 20px;
          width: 30px;
          height: 30px;
          background-repeat: no-repeat;
          background-size: auto;
          background-position: center;
          content: "";
        }

        &-text{
          font-weight: var(--font-weight-500);
          line-height: 22px;
          display: flex;
          align-items: flex-end;
          color: var(--main-white-color);
        }

        &:nth-child(1)::after{
          background-image: url("./../../images/safe-section-colba-icon.svg");
        }
        &:nth-child(2)::after{
          background-image: url("./../../images/safe-section-heart-icon.svg");
        }
        &:nth-child(3)::after{
          background-image: url("./../../images/safe-section-folder-locked.svg");
        }
      }
    }
  }
}

@include desctop-first (834px){
  .hero{
    margin-bottom: 120px;

    &-wrapper{
      padding: 30px 0px 0 24px;
      background-position: right 10px bottom;
      background-size: 284px 367px;

      &__card{
        max-width: 466px;
        padding-top: 0;
        padding-bottom: 30px;

        &-top{
          max-width: 466px;
          margin-bottom: 35px;

          &-title{
            line-height: 44px; // olib tashlash kerak
          }

          &-text{
            max-width: 447px;
            font-weight: 400; // olib tashlash kerak
          }
        }

      }
      &__list{
        gap: 8px;

        &-item{
          max-width: 140px;
          padding: 69px 10px 14px 10px;

          &-text{
            font-size: 14px;
          }
        }
      }
    }
  }

}


@include desctop-first (390px){
  .hero{
    margin-bottom: 100px;

    &-wrapper{
      padding: 24px 17px 24px 20px;
      background-image: url("./../../images/safe-section-mobile-green-circle.svg");
      background-position: calc(50% + 170px) calc(50% - 335px);
      background-size: 160px 160px;


      &__card{
        max-width: 321px;
        padding-bottom: 0px;

        &-top{
          max-width: 321px;
          margin-bottom: 40px;

          &-title{
            max-width: 183px;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 6px;
          }

          &-text{
            max-width: 321px;
            font-size: 12px;
            line-height: 20px;
          }
        }

      }
      &__list{
        flex-direction: column;
        gap: 10px;

        &-item{
          max-width: 318px;
          padding: 70px 15px 14px 14px;

          &-text{
            font-size: 14px;
          }
        }
      }
    }
  }

}